.Transactions {
  height: 100%;
}

.Transactions__Header {
  display: flex;
}

.Transactions__Header__Icon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.Transactions__Header__Icon__Triangle {
  border-color: var(--white) transparent transparent transparent;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  height: 0;
  width: 0;
}

.Transactions__Header__Icon__Circle {
  background-color: var(--gray2);
  border-radius: 50%;
  height: 35px;
  margin-left: 5px;
  width: 35px;
}

.Transactions__Header__Modals {
  position: fixed;
  margin-left: -80px;
  z-index: 999999;
}

.Transactions__Header__Wallet__Name {
  color: var(--gray2);
  font-size: 14px;
  font-weight: 900;
}

.Transactions__Header__Wallet__Money {
  color: var(--white);
  display: flex;
  font-size: 22px;
  font-weight: 900;
}

.Transactions__Header__Wallet__Money__Amount {
  color: var(--red);
}

.Transactions__Header__Selector {
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Transactions__Header__Selector:not(:first-child) {
  margin-top: 30px;
}

.Transactions__Header__Selector__Item {
  display: flex;
  align-items: center;
  margin: 15px;
}

.Transactions__Header__Selector__Item:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 11.5px;
  margin-top: 0;
}

.Transactions__Header__Selector__Item__Text {
  flex: 1;
}

.Transactions__Header__Selector__Item__Icon {
  background-color: var(--gray1);
  border-radius: 50%;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.Transactions__Header__Selector__Item__Name {
  color: var(--white);
  font-size: 20px;
  font-weight: 900;
}

.Transactions__Header__Selector__Item__Money {
  color: var(--gray2);
  font-size: 15px;
  font-weight: 900;
}

.Transactions__Content {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 15px;
}

.Transactions__Totals {
  background-color: var(--background-color);
  border: 3px solid var(--color-dark);
  border-radius: 4px;
  display: flex;
  font-size: 16pt;
  /* padding: 8px 15px; */
  line-height: 1.5;
  width: 100%;
}

.Transactions__Totals__Items {
  width: 50%;
}

.Transactions__Totals__Numbers {
  text-align: right;
  width: 50%;
}

.Transactions__Totals__Numbers div:nth-last-child(2) {
  border-bottom: 1px solid var(--color-dark);
}

.Transactions__Totals__Numbers__In {
  color: #00b0f0;
}

.Transactions__Totals__Numbers__Out {
  color: #e43b07;
}

.Transactions__MonthSelector {
  background-color: var(--background-color);
  border: 3px solid var(--color-dark);
  border-bottom: none;
  border-radius: 4px 4px 0 0;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  /* padding: 12px; */
  width: 100%;
}

.Transactions__Viewer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.Transactions__Viewer__List {
  background-color: var(--background-color);
  border: 3px solid var(--color-dark);
  border-top: none;
  border-radius: 0 0 4px 4px;
  height: 100%;
}

.Transactions__Viewer__List:not(:first-child) {
  border-top: 1px solid var(--color-dark);
  padding-top: 12px;
}

.Transactions__New__Modal__Bar {
  display: flex;
  width: 100%;
}

.TransactionCard {
  align-items: center;
  display: flex;
  margin: 12px;
}

.TransactionCard:not(:first-child) {
  border-top: 1px solid var(--text-color);
  padding-top: 12px;
}

.TransactionCard__Content {
  display: flex;
  width: 100%;
}

.TransactionCard__Content__Data {
  width: 60%;
}

.TransactionCard__Content__Amount {
  color: #00b0f0;
  font-size: 12pt;
  font-weight: 650;
  line-height: 2;
  text-align: right;
  padding-right: 10px;
  width: 40%;
}

.TransactionCard__Content__Amount.negative {
  color: #e43b07;
}

/*@media screen and (min-width: 768px) {
  .Transactions__Totals {
    width: 75%;
  }

  .Transactions__Viewer {
    width: 75%;
  }

  .Transactions__MonthSelector {
    width: 75%;
  }
} */
