.Transactions {
  height: 100%;
}

.Transactions__AddFloat {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  right: 20px;
}

.Transactions__Header {
  display: flex;
}

.Transactions__Header__Icon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.Transactions__Header__Icon__Triangle {
  border-color: var(--white) transparent transparent transparent;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  height: 0;
  width: 0;
}

.Transactions__Header__Icon__Circle {
  border-radius: 50%;
  height: 35px;
  margin-left: 5px;
  width: 35px;
}

.Transactions__Header__Wallet {
  max-width: 210px;
}

.Transactions__Header__Wallet__Name {
  color: var(--gray2);
  font-size: 14px;
  font-weight: 900;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Transactions__Header__Wallet__Money {
  color: var(--white);
  display: flex;
  font-size: 22px;
  font-weight: 900;
}

.Transactions__Header__Wallet__Money__Amount {
  color: var(--red);
}

.Transactions__Header__Selector {
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Transactions__Header__Selector:not(:first-child) {
  margin-top: 30px;
}

.Transactions__Header__Selector__Item {
  display: flex;
  align-items: center;
  margin: 15px;
}

.Transactions__Header__Selector__Item:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 11.5px;
  margin-top: 0;
}

.Transactions__Header__Selector__Item__Text {
  flex: 1;
  max-width: calc(100% - 100px);
}

.Transactions__Header__Selector__Item__Icon {
  border-radius: 50%;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.Transactions__Header__Selector__Item__Name {
  color: var(--white);
  font-size: 20px;
  font-weight: 900;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Transactions__Header__Selector__Item__Money {
  color: var(--gray2);
  font-size: 15px;
  font-weight: 900;
}

.Transactions__Header__Selector__SubItem {
  display: flex;
  align-items: center;
  margin: 10px 10px 10px 40px;
}

.Transactions__Header__Selector__SubItem__Icon {
  border-radius: 50%;
  margin-right: 15px;
  height: 40px;
  width: 40px;
}

.Transactions__Header__Selector__SubItem__Name {
  color: var(--white);
  font-size: 18px;
  font-weight: 900;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Transactions__Header__Selector__SubItem__Money {
  color: var(--gray2);
  font-size: 13px;
  font-weight: 900;
}

.Transactions__Content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0 20px;
}

.Transactions__Content__Loading {
  align-items: center;
  background-color: var(--gray2);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Transactions__Spinner {
  --spinner-size: 150px;
  --color: var(--white);

  opacity: 0.6;
  height: var(--spinner-size);
  width: var(--spinner-size);
}

.Transactions__MonthSelector {
  background-color: var(--black);
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.Transactions__MonthSelector__Button {
  background-color: transparent;
  border: 0;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
}

.Transactions__MonthSelector__Button.selected {
  color: var(--yellow);
}

.Transactions__Empty {
  background-color: var(--gray2);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 150px 50px;
  text-align: center;
  z-index: 0;
}

.Transactions__Totals {
  display: flex;
  background-color: var(--gray2);
  box-sizing: border-box;
  font-size: 32px;
  padding: 15px 15px 0;
  width: 100%;
}

.Transactions__Totals__Items {
  width: 30%;
}

.Transactions__Totals__Items > div {
  height: 48px;
}
.Transactions__Totals__Numbers {
  text-align: right;
  width: 70%;
}

.Transactions__Totals__Numbers > div {
  height: 48px;
}

.Transactions__Totals__Numbers div:nth-last-child(2) {
  border-bottom: 1px solid var(--white);
}

.Transactions__Totals__Numbers__In {
  color: var(--green);
}

.Transactions__Totals__Numbers__Out {
  color: var(--red);
}

.Transactions__Viewer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 310px);
  width: 100%;
}

.Transactions__Viewer.emptytrans {
  height: calc(100vh - 150px);
}

.Transactions__Viewer__List {
  background-color: var(--background-color);
  border: 3px solid var(--color-dark);
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: auto;
  flex: 1;
}

.Transactions__Viewer__Filler {
  height: 120px;
}

.TransactionCard {
  align-items: center;
  display: flex;
  margin: 15px 12px;
}

.TransactionCard:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 15px;
}

.TransactionCard__Icon {
  position: relative;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.TransactionCard__Icon__Main {
  background-color: transparent;
  border-radius: 50%;
  height: 50px;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 50px;
}

.TransactionCard__Icon__Sub {
  background-color: transparent;
  border-radius: 50%;
  height: 25px;
  position: absolute;
  top: 35px;
  width: 25px;
  z-index: 100;
}

.TransactionCard__Icon__Sub.r {
  left: 35px;
}

.TransactionCard__Content {
  flex: 1;
  padding-right: 15px;
  max-width: calc(100% - 80px);
}

.TransactionCard__Content__Top {
  display: flex;
  font-size: 20px;
  font-weight: 800;
}

.Transaction__Content__Top__Category {
  flex: 1;
  overflow: hidden;
  padding-right: 10px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.TransactionCard__Content__Top__Amount {
  text-align: right;
}

.TransactionCard__Content__Top__Amount.positive {
  color: var(--green);
}

.TransactionCard__Content__Top__Amount.negative {
  color: var(--red);
}

.TransactionCard__Content__Bottom {
  color: var(--gray3);
  display: flex;
  font-size: 16px;
  padding-top: 3px;
}

.TransactionCard__Content__Bottom__Concept {
  flex: 2;
  padding-right: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NewTransactionForm__Content__Splitted {
  align-items: center;
  display: flex;
  margin-bottom: -15px;
}

.NewTransactionForm__Content__Splitted__Wallet {
  flex: 1;
  max-width: 50%;
}

.NewTransactionForm__Content__Splitted__Label {
  color: var(--yellow);
  flex: 1;
  font-weight: 700;
  margin: 7px 20px;
}

.NewTransactionForm__WalletSelector {
  align-items: center;
  background-color: var(--black);
  border: 5px solid var(--black);
  border-radius: 10px;
  display: flex;
  height: 30px;
  justify-content: space-around;
  margin: 10px 5px;
  padding: 5px 15px;
}

.NewTransactionForm__WalletSelector.error {
  border: 5px solid var(--red);
}

.NewTransactionForm__WalletSelector__Icon {
  background-color: transparent;
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.NewTransactionForm__WalletSelector__Name {
  flex: 1;
  font-size: 20px;
  margin-left: 10px;
  max-width: calc(100% - 65px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NewTransactionForm__WalletSelector__Triangle {
  border-color: var(--yellow) transparent transparent transparent;
  border-style: solid;
  border-width: 13px 8px 0 8px;
  height: 0;
  width: 0;
}

.NewTransactionForm__WalletSelector__Container {
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.NewTransactionForm__WalletSelector__Wallet {
  margin: 12px 20px;
}

.NewTransactionForm__WalletSelector__Wallet:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 11.5px;
}

.NewTransactionForm__WalletSelector__Wallet__Container {
  align-items: center;
  display: flex;
}

.NewTransactionForm__WalletSelector__Wallet__Icon {
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.NewTransactionForm__WalletSelector__Wallet__Icon.selected {
  border: 2px solid var(--yellow);
  height: 46px;
  width: 46px;
}

.NewTransactionForm__WalletSelector__Wallet__Name {
  font-size: 25px;
  font-weight: 700;
  height: 50px;
  line-height: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 65px);
  white-space: nowrap;
}

.NewTransactionForm__WalletSelector__SubWallet {
  margin: 6px 20px 6px 40px;
}

.NewTransactionForm__WalletSelector__SubWallet__Icon {
  border-radius: 50%;
  height: 40px;
  margin-right: 15px;
  width: 40px;
}

.NewTransactionForm__WalletSelector__SubWallet__Icon.selected {
  border: 2px solid var(--yellow);
  height: 36px;
  width: 36px;
}

.NewTransactionForm__WalletSelector__SubWallet__Name {
  font-size: 20px;
  font-weight: 700;
  height: 50px;
  line-height: 2.5;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: calc(100% - 65px);
  white-space: nowrap;
}

.NewTransactionForm__Delete {
  align-items: center;
  border-radius: 15px;
  display: flex;
  font-size: 24px;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  margin: 60px 0;
  width: 100%;
}

.NewTransactionForm__Delete__Icon {
  font-size: 22px;
  margin-right: 5px;
  line-height: 1.1;
}

.NewTransactionForm__CategorySelector {
  align-items: center;
  background-color: var(--black);
  border: 5px solid var(--black);
  border-radius: 10px;
  display: flex;
  height: 50px;
  margin: 5px;
  padding: 5px 10px;
}

.NewTransactionForm__CategorySelector.error {
  border: 5px solid var(--red);
}

.NewTransactionForm__CategorySelector__Icon {
  background-color: transparent;
  border-radius: 50%;
  height: 45px;
  margin-right: 10px;
  width: 45px;
}

.NewTransactionForm__CategorySelector__Name {
  flex: 1;
  font-size: 26px;
  margin-left: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.NewTransactionForm__CategorySelector__Triangle {
  border-color: var(--yellow) transparent transparent transparent;
  border-style: solid;
  border-width: 20px 12px 0 12px;
  height: 0;
  width: 0;
}

.NewTransactionForm__CategorySelector__Container {
  align-items: center;
  background-color: var(--black);
  border-radius: 20px 20px 0 0;
  display: flex;
  font-size: 22px;
  height: 40px;
  justify-content: space-around;
}

.NewTransactionForm__CategorySelector__Container > div.selected {
  color: var(--yellow);
}

.NewTransactionForm__CategorySelector__ListContainer {
  background-color: var(--gray1);
  height: calc(100% - 40px);
  overflow: auto;
}

.NewTransactionForm__CategorySelector__Category {
  align-items: center;
  display: flex;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 700;
  margin: 15px;
}

.NewTransactionForm__CategorySelector__Category:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 15px;
}

.NewTransactionForm__CategorySelector__Category__Icon {
  background-color: transparent;
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.NewTransactionForm__CategorySelector__Category__Icon.selected {
  border: 2px solid var(--yellow);
  height: 46px;
  width: 46px;
}

.NewTransactionForm__CategorySelector__SubCategory {
  align-items: center;
  display: flex;
  line-height: 1.5;
  font-size: 22px;
  font-weight: 700;
  margin: 12px 20px 12px 40px;
}

.NewTransactionForm__CategorySelector__SubCategory__Icon {
  background-color: transparent;
  border-radius: 50%;
  height: 40px;
  margin-right: 15px;
  width: 40px;
}

.NewTransactionForm__WalletSelector__SubCategory__Icon.selected {
  border: 2px solid var(--yellow);
  height: 36px;
  width: 36px;
}

.NewTransactionForm__CategorySelector__SubCategory__Icon.selected {
  border: 2px solid var(--yellow);
  height: 36px;
  width: 36px;
}
