.Transactions {
  height: 100%;
}

.Transactions__Header {
  display: flex;
}

.Transactions__Header__Icon {
  display: flex;
  align-items: center;
  padding-right: 15px;
}

.Transactions__Header__Icon__Triangle {
  border-color: var(--white) transparent transparent transparent;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  height: 0;
  width: 0;
}

.Transactions__Header__Icon__Circle {
  background-color: var(--gray2);
  border-radius: 50%;
  height: 35px;
  margin-left: 5px;
  width: 35px;
}

.Transactions__Header__Modals {
  position: fixed;
  margin-left: -80px;
  z-index: 999999;
}

.Transactions__Header__Wallet__Name {
  color: var(--gray2);
  font-size: 14px;
  font-weight: 900;
}

.Transactions__Header__Wallet__Money {
  color: var(--white);
  display: flex;
  font-size: 22px;
  font-weight: 900;
}

.Transactions__Header__Wallet__Money__Amount {
  color: var(--red);
}

.Transactions__Header__Selector {
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Transactions__Header__Selector:not(:first-child) {
  margin-top: 30px;
}

.Transactions__Header__Selector__Item {
  display: flex;
  align-items: center;
  margin: 15px;
}

.Transactions__Header__Selector__Item:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 11.5px;
  margin-top: 0;
}

.Transactions__Header__Selector__Item__Text {
  flex: 1;
}

.Transactions__Header__Selector__Item__Icon {
  background-color: var(--gray1);
  border-radius: 50%;
  margin-right: 15px;
  height: 50px;
  width: 50px;
}

.Transactions__Header__Selector__Item__Name {
  color: var(--white);
  font-size: 20px;
  font-weight: 900;
}

.Transactions__Header__Selector__Item__Money {
  color: var(--gray2);
  font-size: 15px;
  font-weight: 900;
}

.Transactions__Content {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.Transactions__Content__Loading {
  align-items: center;
  background-color: var(--gray2);
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.Transactions__Spinner {
  --spinner-size: 150px;
  --color: var(--white);

  opacity: 0.6;
  height: var(--spinner-size);
  width: var(--spinner-size);
}

.Transactions__MonthSelector {
  background-color: var(--black);
  border-bottom: none;
  border-radius: 20px 20px 0 0;
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  width: 100%;
}

.Transactions__MonthSelector__Button {
  background-color: transparent;
  font-size: 20px;
  font-weight: 500;
  height: 50px;
}

.Transactions__MonthSelector__Button.selected {
  color: var(--yellow);
}

.Transactions__Empty {
  background-color: var(--gray2);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 150px 50px;
  text-align: center;
  z-index: 0;
}

.Transactions__Totals {
  display: flex;
  background-color: var(--gray2);
  box-sizing: border-box;
  font-size: 32px;
  padding: 15px 15px 0;
  width: 100%;
}

.Transactions__Totals__Items {
  width: 50%;
}

.Transactions__Totals__Items > div {
  height: 48px;
}
.Transactions__Totals__Numbers {
  text-align: right;
  width: 50%;
}

.Transactions__Totals__Numbers > div {
  height: 48px;
}

.Transactions__Totals__Numbers div:nth-last-child(2) {
  border-bottom: 1px solid var(--white);
}

.Transactions__Totals__Numbers__In {
  color: var(--green);
}

.Transactions__Totals__Numbers__Out {
  color: var(--red);
}

.Transactions__Viewer {
  background-color: var(--black);
  display: flex;
  flex-direction: column;
  height: calc(100vh - 310px);
  width: 100%;
}

.Transactions__Viewer.emptytrans {
  height: calc(100vh - 150px);
}

.Transactions__Viewer__List {
  background-color: var(--background-color);
  border: 3px solid var(--color-dark);
  border-top: none;
  border-radius: 0 0 4px 4px;
  overflow: auto;
  flex: 1;
}

.Transactions__Viewer__Filler {
  height: 120px;
}

.TransactionCard {
  align-items: center;
  display: flex;
  margin: 15px 12px;
}

.TransactionCard:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 15px;
}

.TransactionCard__Icon {
  background-color: var(--gray3);
  border-radius: 50%;
  height: 50px;
  margin-right: 15px;
  width: 50px;
}

.TransactionCard__Content {
  flex: 1;
  padding-right: 15px;
}

.TransactionCard__Content__Top {
  display: flex;
  font-size: 20px;
}

.Transaction__Content__Top__Category {
  flex: 1;
}

.TransactionCard__Content__Top__Amount {
  color: var(--green);
  font-weight: 700;
  flex: 2;
  text-align: right;
}

.TransactionCard__Content__Top__Amount.negative {
  color: var(--red);
}

.TransactionCard__Content__Bottom {
  display: flex;
  font-size: 16px;
  padding-top: 3px;
}

.TransactionCard__Content__Bottom__Concept {
  flex: 2;
}

.TransactionCard__Content__Bottom__Date {
  color: var(--gray3);
  text-align: right;
  flex: 1;
}

.NewTransactionForm__Content__Splitted {
  align-items: center;
  display: flex;
}

.NewTransactionForm__Content__Date {
  flex: 5;
  margin-left: 3px;
}

.NewTransactionForm__WalletSelector {
  align-items: center;
  background-color: var(--black);
  border-radius: 10px;
  display: flex;
  flex: 4;
  height: 30px;
  margin-right: 3px;
  padding: 10px;
}

.NewTransactionForm__WalletSelector.error {
  border: 5px solid var(--red);
  padding: 5px;
}

.NewTransactionForm__WalletSelector__Icon {
  background-color: var(--white);
  border-radius: 50%;
  height: 30px;
  width: 30px;
}

.NewTransactionForm__WalletSelector__Name {
  margin-left: 10px;
  font-size: 20px;
  flex: 1;
}

.NewTransactionForm__WalletSelector__Triangle {
  border-color: var(--yellow) transparent transparent transparent;
  border-style: solid;
  border-width: 13px 8px 0 8px;
  height: 0;
  width: 0;
}

.NewTrnsactionForm__WalletSelector__Container {
  background-color: var(--black);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.NewTransactionForm__Delete {
  align-items: center;
  border-radius: 15px;
  display: flex;
  font-size: 24px;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  margin: 60px 0;
  width: 100%;
}

.NewTransactionForm__Delete__Icon {
  font-size: 22px;
  margin-right: 5px;
  line-height: 1.1;
}


/*
.TransactionCard__Content__Data {
  width: 60%;
}

.TransactionCard__Content__Amount {
  color: #00b0f0;
  font-size: 12pt;
  font-weight: 650;
  line-height: 2;
  text-align: right;
  padding-right: 10px;
  width: 40%;
}

.TransactionCard__Content__Amount.negative {
  color: #e43b07;
}


.Transactions__New__Modal__Bar {
  display: flex;
  width: 100%;
} */

/*@media screen and (min-width: 768px) {
  .Transactions__Totals {
    width: 75%;
  }

  .Transactions__Viewer {
    width: 75%;
  }

  .Transactions__MonthSelector {
    width: 75%;
  }
} */
