@import url('../../App.css');

.Settings__Container {
  background-color: var(--black);
  border-radius: 20px;
  padding: 10px;
  margin: 20px;
}

.Settings__Card {
  align-items: center;
  display: flex;
  margin: 12px;
  font-size: 19pt;
  font-weight: 600;
  line-height: 1.5;
}

.Settings__Card:not(:first-child) {
  border-top: 1px solid var(--yellow);
  padding-top: 12px;
}

.Settings__EditName__Modal__Text {
  padding: 10px;
}
