@import url('../../App.css');

.Wallets {
  --cardContainerMargin: 30px;
}

.NoWallets {
  color: var(--white);
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 150px 50px;
  text-align: center;
  z-index: 0;
}

.Wallets__Header {
  width: 100%;
  display: flex;
  align-items: center;
}

.Wallets__AddTop {
  margin-left: auto;
  visibility: hidden;
}

.Wallets__AddFloat {
  position: absolute;
  z-index: 1;
  bottom: 40px;
  right: 25px;
}

.Wallets__Container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.Wallets__Container__Section {
  background-color: var(--black);
  border-radius: 25px;
  margin: var(--cardContainerMargin);
  max-width: calc(100% - 2 * var(--cardContainerMargin));
  width: 98%;
}

.NewWalletForm__MainWallet {
  border-bottom: 2px solid var(--yellow);
}

.NewWalletForm__MainWallet__FirstRow {
  display: flex;
  align-items: center;
}

.NewWalletForm__MainWallet__FirstRow__Icon {
  height: 65px;
  width: 65px;
  border-radius: 50%;
}

.NewWalletForm__MainWallet__FirstRow__Name {
  margin-left: 20px;
  flex: 1;
}

.NewWalletForm__MainWallet__SecondRow {
  display: flex;
}

.NewWalletForm__MainWallet__SecondRow__Money {
  flex-basis: 60%;
}

.NewWalletForm__MainWallet__SecondRow__Currency {
  flex-basis: 40%;
}

.NewWalletForm__Delete {
  align-items: center;
  border-radius: 15px;
  display: flex;
  font-size: 24px;
  font-weight: 900;
  height: 48px;
  justify-content: center;
  margin: 60px 0;
  width: 100%;
}

.NewWalletForm__Delete__Icon {
  font-size: 22px;
  margin-right: 5px;
  line-height: 1.1;
}

.WalletCard {
  align-items: center;
  display: flex;
  margin: 12px 20px;
}

.WalletCard:not(:first-child) {
  border-top: 2px solid var(--yellow);
  padding-top: 11.5px;
}

.WalletCard__Icon {
  border-radius: 50%;
  height: 60px;
  width: 60px;
}

.WalletCard__Info {
  padding-left: 16px;
  font-weight: 900;
  max-width: calc(100% - 100px);
}

.WalletCard__Info__Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 24pt;
}

.WalletCard__Info__Money {
  font-size: 14pt;
  display: flex;
  color: var(--gray2);
}

.WalletCard__Info__Money__Amount {
  color: var(--red);
}

.NewWalletForm__Subwallets__Title {
  font-size: 26px;
  font-weight: 900;
  padding: 10px 0;
}

.NewWalletForm__Subwallets__Content {
  background-color: var(--black);
  border-radius: 20px;
  padding: 20px;
}

.NewWalletForm__Subwallets__Add {
  align-items: center;
  color: var(--gray3);
  display: flex;
  font-size: 18px;
  padding-top: 5px;
  height: 25px;
}

.NewWalletForm__Subwallets__Add__Icon {
  font-size: 25px;
  line-height: 0.7;
  padding-right: 10px;
}

.SubWalletCard {
  align-items: center;
  display: flex;
  margin: 10px 0;
  border-bottom: 2px solid var(--yellow);
  padding-bottom: 9.5px;
}

.SubWalletCard:first-child {
  margin-top: 0;
}

.SubWalletCard__Icon {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}

.SubWalletCard__Info {
  padding-left: 12px;
  font-weight: 600;
  max-width: calc(100% - 35px);
}

.SubWalletCard__Info__Name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  font-size: 17pt;
}

.SubWalletCard__Info__Money {
  font-size: 11pt;
  display: flex;
  color: var(--gray2);
}

.SubWalletCard__Info__Money__Amount {
  color: var(--red);
}

/* @media screen and (min-width: 768px) {
  .Wallets__Header {
    margin-left: 25px;
  }

  .Wallets__AddTop {
    visibility: visible;
  }

  .Wallets__AddFloat {
    visibility: hidden;
  }

  .Wallets__Container__Section {
    width: 60%;
  }
} */
