@import url('../../App.css');

.NoWallets {
  display: flex;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: var(--color-mid);
}

@media screen and (min-width: 320px) {
  .NoWallets {
    padding: 150px 50px;
  }
}
